#checkout-container {
    border: 1px solid #d0d0d0;
    width: fit-content;
    padding: 1rem;
    border-radius: 14px;
    background: white;
    box-shadow: 4px 1px 20px 0px #1b1567;
}

main {
    background: linear-gradient(rgb(43 45 64 / 77%), rgb(43 45 64)), url(./images/background-hero.png);
    background-size: cover;
}

input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 9px #49397c inset;
    font-size: 1.4rem;
    background: #ffffff;
    border: none;
    text-align: center;
    width: 10rem;
    border-radius: 0;
}
@media (max-width: 1000px) {
    input {
        width: 100%;
        padding: 1rem;
    }   
}


#information-header {
    display: flex; 
    flex-direction: row; 
    gap: 1rem; 
    justify-content: space-evenly; 
    align-items: center;
}
@media (max-width: 1000px) {
    #information-header {
        flex-direction: column;
        gap: 0.5rem;
    }   
}



/* overriding some default shared styles */
h1 {
    font-size: 1.6rem;
    background: #2f5075;
    padding: 1.3rem;
    text-align: center;
    box-shadow: -4px 5px 13px #32244f;
    transform: rotateZ(-12deg);
}
@media (max-width: 1000px) {
    h1 {
        transform: none;
        width: 100%;
    }   
}

section {
    max-width: 75rem;
    background: none;
}
section span {
    width: initial;
}

.bullet-point {
    font-size: 1.4rem;
}

.active {
    background-color: #ffffff41;
    padding: 0.5rem 1.25rem;
    border-radius: 0.25rem;
    white-space: nowrap;
}

.tip-metrics-container {
    text-align: center;
    padding: 1rem;
}
.tip-metrics-container span {
    font-size: 1.2rem;
}

#currency-symbol {
    display: flex;
    align-items: center;
    color: #424242;
    position: relative;
    left: 1.5em;
    font-size: 1.3rem;
}

table {
    border: 1px solid #9e7caf;
    padding: 2rem;
    border-radius: 0.5rem;
}
tr {
    vertical-align: top;
    display: flex;
    margin-bottom: 1.5rem;
}
td {
    padding: 0.5rem;
}

footer {
    margin-top: 0;
}

/* Thank you page */
#thank-you-container {
    flex-direction: column;
    max-width: 38rem;
    border: 1px solid white;
    border-radius: 0.5rem;
    margin-bottom: 7rem;
    margin-top: 8rem;
}
#thank-you-container h1 {
    margin-top: 0;
    transform: rotate(-5deg);
    top: -13px;
    position: relative;
}

#session-id {
    padding: 1rem;
    word-break: break-all;
    background: #2a2832;
    border: 1px solid #5b5b5b;
    margin-bottom: 2rem;
}
